<h2>Hello, <%= user.displayName %>.</h2>

<h3>Sitwell Cycling Club Stats</h3>
<p>All stats are year to date</p>

<div class="table-wrapper">
  <table class="sortable">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Club member</th>
        <th>No of Rides</th>
        <th>Distance (miles)</th>
        <th>Elevation (feet)</th>
        <th>Hours</th>
        <th>Av Speed (mph)</th>
        <th>Av Distance (miles)</th>
        <th>Av Elevation (feet)</th>
        <th>Longest (miles)</th>
        <th>Highest (feet)</th>
        <th>Difference</th>
        <th>% of Total</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i = 0; i < members.length; i++) { %>
        <tr>
          <th><%= i + 1 %></th>
          <td>
            <a href="https://www.strava.com/athletes/<%= members[i].id %>" target="_blank">
              <img src="<%= members[i].photo %>">
              <%= members[i].name %>
            </a>
          </td>
          <td><%= members[i].rides %></td>
          <td><%= members[i].distance %></td>
          <td><%= members[i].elevation %></td>
          <td><%= members[i].hours %></td>
          <td><%= members[i].avSpeed %></td>
          <td><%= Math.round((members[i].distance / members[i].rides) * 100) / 100 %></td>
          <td><%= Math.round((members[i].elevation / members[i].rides) * 100) / 100 %></td>
          <td><%= members[i].longest %></td>
          <td><%= members[i].highest %></td>
          <td><%= (i == 0) ? 'N/A' : '-'+ Math.round(members[i-1].distance - members[i].distance) %></td>
          <td><%= Math.round((members[i].distance * 100) / totals.distance) + '%' %></td>
        </tr>
      <% } %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2">TOTAL</td>
        <td><%= totals.rides %></td>
        <td><%= totals.distance %></td>
        <td><%= totals.elevation %></td>
        <td><%= totals.hours %></td>
        <td><%= totals.avSpeed %></td>
        <td><%= Math.round((totals.distance / totals.rides) * 100) / 100 %></td>
        <td><%= Math.round((totals.elevation / totals.rides) * 100) / 100 %></td>
        <td colspan="4"></td>
      </tr>
    </tfoot>
  </table>
</div>
