<h2>Hello, <%= user.displayName %>.</h2>

<h3>Sitwell Cycling Club Stats</h3>
<p>All stats are year to date</p>

<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th>Rank</th>
        <th>Club members</th>
        <th>No of Rides</th>
        <th>Distance (miles)</th>
        <th>Elevation (meters)</th>
        <th>Hours</th>
        <th>Av Speed (mph)</th>
        <th>Av Distance (miles)</th>
        <th>Av Elevation (meters)</th>
        <th>Longest (miles)</th>
        <th>Highest (meters)</th>
        <th>Difference</th>
        <th>% of Total</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i = 0; i < members.length; i++) { %>
        <tr>
          <th><%= i + 1 %></th>
          <td>
            <a href="https://www.strava.com/athletes/<%= members[i].id %>" target="_blank">
              <img src="<%= members[i].photo %>">
              <%= members[i].name %>
            </a>
          </td>
          <td><%= members[i].rides %></td>
          <td><%= members[i].distance %></td>
          <td><%= members[i].elevation %></td>
          <td><%= members[i].hours %></td>
          <td><%= members[i].avSpeed %></td>
          <td><%= Math.round((members[i].elevation / members[i].rides) * 100) / 100 %></td>
          <td><%= Math.round((members[i].distance / members[i].rides) * 100) / 100 %></td>
          <td><%= members[i].longest %></td>
          <td><%= members[i].highest %></td>
          <td>Difference</td>
          <td><%= members.length %></td>
        </tr>
      <% } %>
    </tbody>
  </table>  
</div>