<h2>Hello <%= user.displayName %>.</h2>

<h3>Sitwell Cycling Club Stats</h3>
<p>All stats are year to date. You can filter the table by clicking the column headers.</p>

<div class="table-wrapper">
  <table class="sortable">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Club Member</th>
        <th>No of Rides</th>
        <th>Distance (miles)</th>
        <th>Elevation (feet)</th>
        <th>Hours</th>
        <th>Av Speed (mph)</th>
        <th>Av Distance (miles)</th>
        <th>Av Elevation (feet)</th>
        <th>Longest (miles)</th>
        <th>Highest (feet)</th>
        <th>Difference</th>
        <th>% of Total</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i = 0; i < members.length; i++) { %>
        <tr>
          <th sorttable_customkey="<%= i + 1 %>">
            <%= i + 1 %> <span><%= members[i].lastPosition != -1 ? '('+ (members[i].lastPosition + 1) +')' : '' %></span>
            <% if (members[i].lastPosition == -1) { %>
              +
            <% } else if ((i + 1) < (members[i].lastPosition + 1)) { %>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 173.9 165.5">
                <path fill="#00803d" d="M.04 86.897c0-3.9 1.4-7.3 4.1-10l72.7-72.8c2.9-2.8 6.3-4.1 10.2-4.1 3.9 0 7.3 1.4 10 4.1l72.7 72.8c2.8 2.7 4.2 6 4.2 10 0 3.9-1.4 7.3-4.2 10.2l-8.3 8.4c-2.9 2.8-6.3 4.1-10.2 4.1-3.9 0-7.3-1.4-10-4.1l-32.9-32.8v78.6c0 3.9-1.4 7.2-4.2 10s-6.2 4.2-10 4.2h-14.3c-3.9 0-7.2-1.4-10-4.2s-4.2-6.2-4.2-10v-78.6l-32.8 32.8c-2.8 2.8-6.1 4.1-10 4.1-3.9 0-7.3-1.4-10.2-4.1l-8.4-8.4c-2.9-2.9-4.2-6.3-4.2-10.2z"/>
              </svg>
            <% } else if ((i + 1) > (members[i].lastPosition + 1)) { %>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 173.9 165.5">
                <path fill="#971616" d="M173.84 78.597c0 3.9-1.4 7.3-4.1 10l-72.7 72.8c-2.9 2.8-6.3 4.1-10.2 4.1-3.9 0-7.3-1.4-10-4.1l-72.7-72.8c-2.8-2.7-4.2-6-4.2-10 0-3.9 1.4-7.3 4.2-10.2l8.3-8.4c2.9-2.8 6.3-4.1 10.2-4.1 3.9 0 7.3 1.4 10 4.1l32.8 32.8v-78.6c0-3.9 1.4-7.2 4.2-10s6.2-4.2 10-4.2h14.3c3.9 0 7.2 1.4 10 4.2s4.2 6.2 4.2 10v78.6l32.8-32.8c2.8-2.8 6.1-4.1 10-4.1 3.9 0 7.3 1.4 10.2 4.1l8.4 8.4c3 2.9 4.3 6.3 4.3 10.2z"/>
              </svg>
            <% } else { %>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 173.9 165.5">
                <rect y="61.43" width="173.9" height="43.19" rx="12" ry="12" fill="#212121"/>
              </svg>
            <% } %>
          </th>
          <td>
            <a href="https://www.strava.com/athletes/<%= members[i].id %>" target="_blank">
              <img src="<%= members[i].photo %>">
              <%= members[i].name %>
            </a>
          </td>
          <td><%= members[i].rides %></td>
          <td><%= members[i].distance %></td>
          <td><%= members[i].elevation %></td>
          <td><%= members[i].hours %></td>
          <td><%= members[i].avSpeed %></td>
          <td><%= Math.round((members[i].distance / members[i].rides) * 100) / 100 %></td>
          <td><%= Math.round((members[i].elevation / members[i].rides) * 100) / 100 %></td>
          <td><%= members[i].longest %></td>
          <td><%= members[i].highest %></td>
          <td><%= (i == 0) ? 'N/A' : '-'+ Math.round(members[i-1].distance - members[i].distance) %></td>
          <td><%= Math.round((members[i].distance * 100) / totals.distance) + '%' %></td>
        </tr>
      <% } %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2">TOTAL</td>
        <td><%= totals.rides %></td>
        <td><%= totals.distance %></td>
        <td><%= totals.elevation %></td>
        <td><%= totals.hours %></td>
        <td><%= totals.avSpeed %></td>
        <td><%= Math.round((totals.distance / totals.rides) * 100) / 100 %></td>
        <td><%= Math.round((totals.elevation / totals.rides) * 100) / 100 %></td>
        <td colspan="4"></td>
      </tr>
    </tfoot>
  </table>
</div>

<p><small>A <a href="http://www.colouringcode.com/">Colouring Code</a> design and build. Kudos goes to <a href="https://twitter.com/TrickierStinky">Matt Deloughry</a> for his assistance with this.</small></p>
